version: '3.8'

services:
  postgres:
    image: postgres:17.5-alpine
    container_name: booking-tour-postgres
    environment:
      POSTGRES_DB: booking-tourdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - booking-tour-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d booking-tourdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer:latest
    container_name: booking-tour-adminer
    ports:
      - "8081:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    networks:
      - booking-tour-network
    depends_on:
      - postgres

  redis:
    image: redis:7.4-alpine
    container_name: booking-tour-redis
    ports:
      - "6379:6379"
    networks:
      - booking-tour-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: booking-tour-mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - booking-tour-network

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: booking-tour-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - booking-tour-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    
volumes:
  postgres_data:
  redis_data:
  rabbitmq_data:

networks:
  booking-tour-network:
